/* Stylehsheet */
@import "semantic";

body {
    background: #1ca9e2;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    text-align: center;
    max-width: 99%;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 150px;
    margin-bottom:-10px;
    line-height: 93%;
    padding-top: 100px;
    
}
h2 {
    padding-bottom: 25px;
}
.click {
    color: #af151d;
    font-style: italic;
    padding: 1em;
}
a {
    color:white;
    font-size: 66px;
    
}
a:hover {
    color: #293b69;
    
}




button a {
    color: white;
    font-size: 20px;
    padding: .75em;
    
}


//media queries

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
h1 {
    font-size: 55px;
    margin-bottom:-10px;
    line-height: 93%;
    
}
h2 {
    padding-bottom: 10px;
}
    
    a {
    color:white;
    font-size: 35px;
    font-weight: bold;
    
}
    p {
    padding: 1.5em;
    font-size: 20px;
        
   
}

    
    
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 30em)  {
h1 {
    font-size: 90px;
    margin-bottom:-10px;
    line-height: 93%;
    
}
h2 {
    padding-bottom: 15px;
}


      
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 58em) { 

h1 {
    font-size: 150px;
    margin-bottom:-10px;
    line-height: 93%;
    
}
h2 {
    padding-bottom: 25px;
}
    
      a {
    color:white;
    font-size: 66px;
    font-weight: bolder;
    
}
    p {
    padding: 1.5em;
    font-size: 20px;
    margin-left:200px;
    margin-right: 200px;
}
  
}

